/* styles.css */

body {
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    color: #d6c7ae;
}

footer {
    margin-top: 30px;
}

.container {
    margin-top: 40px;
}

h1, h2 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

.fade {
    animation: fadeIn 2s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
